<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} EduSelf {% endblock title %}</title>
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">home</a></h1>

    <!--ruyxatdan o'tish-->
    {% if user.is_authenticated %}
        <p> Xush kelibsiz, {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
    <br>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <button type="submit">signup</button>
            </form>
        </p>
    {% endif %}
</header>
<hr>


<!--boshqa fayllar ishga tushudai-->
<div>
    {% block content %}

    {% endblock content %}
</div>


<footer>
    <br>
     <form action="{% url 'post_new' %}" method="POST">
         {% csrf_token %}
         <button type="submit">Yangi post</button>
     </form>
</footer>

</body>
</html>